.shop-container{
   width: 100%;
   height: auto;
   padding-top: 200px;
}

.shop-container h1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.termfilter{
    width: 50%;
    margin: 0 auto;
}


@media only screen and (max-width: 524px){
    .shop-container{
        width: 100%;
        height: auto;
        padding-top: 200px;
     }
     .termfilter{
         width: 92%;
         margin: 0 auto 0 5%;
     }
}